---
import { getCollection, getEntry, getEntries } from 'astro:content';
import { blogTitles } from "@u/ContentMap"

import Wide from '@l/Wide.astro';
import WideLeftLogo from '@l/mixins/WideLeftLogo.astro';
import BigHeader from '@b/BigHeader.astro';
import Base from '@l/Base.astro';
import Article from '@md/Article.astro';

const entry = await getEntry('blog', 'hello-world');
const { Content } = await entry.render();
---
<Wide title="Jean-Silas Moor | Blog">
    <WideLeftLogo > 
        <div class="lg:sticky top-0 grid grid-cols-1 justify-items-center ">
            <BigHeader class="w-fit ml-auto lg:min-w-[24rem]"/>
            <div class="outline
                        outline-1
                        outline-space-800
                        shadow-xl
                        bg-space-950
                        p-6 
                        max-w-4xl
                        mx-2
                        unfolded:mx-4
                        w-auto
                        lg:w-[360px]
                        lg:ml-auto
                        lg:mr-2
                        ">
                <h2 class="border-b border-space-800 pb-1 text-lg">
                    Recent Posts
                </h2>
                <!-- TODO: Componentify -->
                <ul class="list-disc list-outside pl-4 mt-2">
                    {
                    blogTitles.map((post) => (
                        <li class="mb-2">
                            <a href=`/blog/${post.slug}` class="hover:text-space-400">
                                {post.title}
                            </a>
                        </li>
                    ))
                    }
                </ul>
            </div>
        </div>
        <div class="
            max-w-5xl
            grid
            grid-cols-1
            gap-4
            xl:grid-cols-2
            justify-stretch
            justify-items-center
            p-2
            unfolded:p-4
        ">
            <Article>
                <Content/>
            </Article>
        </div>
    </WideLeftLogo>
</Wide>
