---
import { getCollection, getEntry, getEntries } from 'astro:content';
import { blogTitles } from '@u/ContentMap';

import Wide from '@l/Wide.astro';
import WideLeftLogo from '@l/mixins/WideLeftLogo.astro';
import BigHeader from '@b/BigHeader.astro';
import Article from '@md/Article.astro';
import RecentPosts from '@md/RecentPosts.astro';

const entry = await getEntry('blog', 'hello-world');
const { Content } = await entry.render();
---

<Wide title="Jean-Silas Moor | Blog">
    <meta name="description" content="The ArtOps Guy's Blog" slot="head" />
    <WideLeftLogo>
        <div class="top-0 grid grid-cols-1 justify-items-center lg:sticky">
            <BigHeader class="ml-auto w-fit lg:min-w-[24rem]" />
            <RecentPosts />
        </div>
        <div
            class="grid
            max-w-5xl
            grid-cols-1
            justify-stretch
            justify-items-center
            gap-4
            p-2
            unfolded:p-4
            xl:grid-cols-2"
        >
            <Article>
                <Content />
            </Article>
        </div>
    </WideLeftLogo>
</Wide>
