---
interface Props {
    title: string;
    price: string;
    class?: string;
}

import { twMerge } from 'tailwind-merge';

import FancyHeader from '@c/elements/FancyHeader.astro';

const { title, price, class: _class = '' } = Astro.props;

const [outer_class, inner_class, picture_class, text_class] = _class.split('|');
---

<div class={twMerge('w-full  h-full aspect-[21/9]', outer_class)}>
    <div
        class={twMerge(
            `
        bg-space-950
        @container
        grid
        grid-rows-[auto_1fr]
        grid-cols-2
        gap-4
        p-4
        w-full
        min-h-full
        shadow-xl
        shadow-[#00000088]
        outline
        outline-1
        outline-space-800`,
            inner_class,
        )}
    >
        <FancyHeader
            class="col-span-2 col-start-1 row-start-1 mb-3 ml-auto mt-0 border-none text-fc-[0.5rem_9.5cqw_3rem]"
        >
            {title}
        </FancyHeader>
        <div
            class="relative
                col-span-2
                row-span-1
                row-start-2
                grid
                @sm:col-span-1
                @sm:col-start-1"
        >
            <div
                class="absolute aspect-square w-full max-w-[15rem] self-center justify-self-center bg-white"
                style="clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); "
            >
            </div>
            <picture
                class={twMerge(
                    'block aspect-square  w-full max-w-[15rem] bg-black justify-self-center self-center',
                    picture_class,
                )}
                style="clip-path: polygon(50% 2%, 98% 50%, 50% 98%, 2% 50%); "
            >
            </picture>
        </div>

        <div
            class="col-span-2
            col-start-1
            grid
            h-full
            grid-rows-[3fr_auto]
            @sm:col-span-1
            @sm:col-start-2"
        >
            <section class=`${text_class}`>
                <slot />
            </section>
            <div class="ml-auto w-fit p-2 text-xl">
                {price}
            </div>
        </div>
    </div>
</div>
