


<aside class="w-full px-2 unfolded:px-4 lg:px-0 my-2">
    <div class="
        outline
        outline-1
        outline-space-800
        shadow-xl
        bg-space-950
        p-6
        max-w-4xl
        mx-auto
        
        
        lg:w-[360px]
        lg:ml-auto
        lg:mr-3
        
    ">
        <slot/>
    </div>
</aside>