<aside class="my-2 w-full px-2 unfolded:px-4 lg:px-0">
    <div
        class="mx-auto
        max-w-4xl
        bg-space-950
        p-6
        shadow-xl
        outline
        outline-1
        outline-space-800
        
        
        lg:ml-auto
        lg:mr-3
        lg:w-[360px]"
    >
        <slot />
    </div>
</aside>
