---
---
<header class="flex flex-wrap justify-between items-center p-3 gap-4 mx-auto max-w-7xl">
	<div class=" ">
		<div class="mx-4 mt-4 w-fit">
			<h1 class="font-black text-5xl-fluid text-right whitespace-nowrap  pr-5 border-r-[24px]  border-bone-400">
				Jean-Silas<br>Moor
			</h1>
			<p class="text-xl-fluid text-right mt-2 pb-2 border-b-2 border-bone-400">
				I Make Pipelines Go Brr.
			</p>
		</div>
	</div>
    <!-- <div class=" mx-auto">
        <menu class=" mx-auto text-center px-8 text-2xl text-bone-300 space-y-2 font-bold ">
            <li>Blog</li>
            <li>Resources</li>
        </menu>
    </div> -->
</header>