---

---

<footer class="mt-8 flex flex-wrap items-stretch gap-4 bg-space-800 p-3">
    <div class="relative flex-shrink flex-grow pb-4 text-center">
        <span class="my-auto block">
            <a href="/ð“¢ð“®ð“¬ð“»ð“®ð“½ð“Ÿð“ªð“°ð“®">There should probably be<br />a copyright statement here.</a>
        </span>
        <hr class="absolute bottom-2 mt-2 w-full border-space-400" />
    </div>
    <div class="grid flex-grow grid-cols-2">
        <div>
            <span class="mb-2 block text-2xl">Links</span>
            <ul class="ml-4 list-outside list-disc">
                <li>Archive</li>
                <li>Github</li>
                <li>Mastodon</li>
            </ul>
        </div>
        <div>
            <span class="mb-2 block text-2xl">Site Map</span>
            <ul class="ml-4 list-outside list-disc">
                <li>Archive</li>
                <li>Github</li>
                <li><a rel="me" href="https://mastodon.gamedev.place/@jeansilas">Mastodon</a></li>
            </ul>
        </div>
    </div>
</footer>
