---
---
<footer class="bg-space-800 p-3 mt-8 flex flex-wrap gap-4">
    <div class="flex-grow-0 flex-shrink">
        There should probably be<br>a copyright statement here.
    </div>
    <div class="flex-grow grid grid-cols-2">
        <div>
            <h6 class="text-2xl mb-2">Links</h6>
            <ul class="ml-4 list-disc list-outside">
                <li>Archive</li>
                <li>Github</li>
                <li>Mastodon</li>
            </ul>
        </div>
        <div>
            <h6 class="text-2xl mb-2">Site Map</h6>
            <ul class="ml-4 list-disc list-outside">
                <li>Archive</li>
                <li>Github</li>
                <li>Mastodon</li>
            </ul>
        </div>
    </div>
</footer>