<header class="bg-space-800 sticky top-0">
    <div class="flex justify-between p-3">
        <span><a href="/">JSM</a></span>
        <span >
            <menu class="ml-auto grid grid-cols-2 ">
                <li>Blog</li>
                <li>Resources</li>
            </menu>
        </span>
    </div>
</header>