<div class="max-w-3xl xl:col-span-2">
    <article
        class="prose
        prose-invert
        max-w-full
        bg-space-950
        p-2
        text-sm
        shadow-xl
        shadow-[#00000088]
        outline
    
        outline-1
        outline-space-800
        prose-ol:pl-2
        prose-ul:pl-0
        prose-li:pl-2
        lg:col-span-1"
    >
        <slot />
    </article>
</div>
