<div class="mx-auto ">
    <article class="prose
                    prose-invert
                    prose-h2:text-3xl
                    prose-h2:mb-3
                    max-w-2xl
                    bg-space-950
                    p-4
                    m-4
                    shadow-xl
                    shadow-[#00000088]
                    outline
                    outline-1
                    outline-space-800">
        <slot/>
    </article>
</div>