<div class="xl:col-span-2 max-w-3xl">
    <article class="
        prose
        prose-invert
        prose-ol:pl-2
        prose-ul:pl-0
        prose-li:pl-2
        text-sm
        max-w-full
        bg-space-950
        p-2
    
        shadow-xl
        shadow-[#00000088]
        outline
        outline-1
        outline-space-800
        lg:col-span-1">
        <slot/>
    </article>
</div>