---
interface Props {
    class: string;
}

const {class: _class = ""} = Astro.props;
---

<aside class=`top-0 mx-auto flex max-w-[90rem] flex-wrap items-center justify-between gap-4 p-3 ${_class}`>
    <div class="">
        <div class="mx-4 mt-4 w-fit">
            <h1 class="whitespace-nowrap
                        border-r-[24px]
                        border-bone-400
                        pr-5
                        text-right
                        font-black
                        text-4xl-fluid"
            >
                Mentorships
            </h1>
            <ul class="mt-2 border-b-2 border-bone-400 pb-2 text-right text-xl-fluid">
                <li class="text-xl font-black">TL;DR:</li>
                <li>$75 an hour</li>
                <li>Project-focused</li>
                <li>Yes, there will be homework</li>
            </ul>
            <div class="h-6 overflow-hidden ">
                <div class="h-4 w-[98%] m-auto bg-gradient-to-b from-[#00000022] to-transparent blur-sm"/>
            </div>
        </div>
    </div>
    <!-- <div class=" mx-auto">
        <menu class=" mx-auto text-center px-8 text-2xl text-bone-300 space-y-2 font-bold ">
            <li>Blog</li>
            <li>Resources</li>
        </menu>
    </div> -->
</aside>
