---
import { getCollection, getEntry, getEntries } from 'astro:content';

import Wide from '@l/Wide.astro';
import BigHeader from '@b/BigHeader.astro';
import HL from '@e/HL.astro';
import CalendarModal from '@c/cards/CalendarModal';

import LongformLarge from '@c/blocks/LongformLarge.astro';
import LongformSection from '@c/blocks/LongformSection.astro';
import FancyHeader from '@c/elements/FancyHeader.astro';

import Article from '@c/md/Article.astro';

const entry = await getEntry('blocks', 'homepage');
const { Content } = await entry.render();
---

<Wide title="Jean-Silas Moor: The ArtOps Guy">
    <div class="grid grid-cols-1 lg:grid-cols-[auto_3fr] items-start">
        <BigHeader class="lg:sticky w-fit ml-auto lg:min-w-[24rem]"/>
        <div class="
            max-w-5xl
            grid
            grid-cols-1
            gap-4
            xl:grid-cols-2
            justify-stretch
            justify-items-center
            p-2
            unfolded:p-4
            ">
            <Article>
                <Content/>
                <div class="ml-auto w-fit">
                    <CalendarModal client:visible />
                </div>
            </Article>
        </div>
    </div>
</Wide>
