---
import { getCollection, getEntry, getEntries } from 'astro:content';

import Wide from '@l/Wide.astro';
import WideLeftLogo from '@l/mixins/WideLeftLogo.astro';

import MentorshipInfo from '@c/cards/MentorshipInfo.astro';
import MentoshipAutoCard from '@c/cards/MentoshipAutoCard.astro';
import MentorshipSideHeader from '@c/blocks/MentorshipSideHeader.astro';

import Article from '@c/md/Article.astro';

const entry = await getEntry('blocks', 'mentorship-info');
const { Content } = await entry.render();
---

<Wide title="Unreal Engine Mentorships | Feature Design, ArtOps, Project Management ">
    <WideLeftLogo>
        <MentorshipSideHeader class="lg:sticky w-fit ml-auto lg:min-w-[24rem]"/>
        <div class="
                    max-w-8xl
                    grid
                    grid-cols-1
                    gap-4
                    xl:grid-cols-12
                    justify-stretch
                    justify-items-center
                    p-2
            ">
            <div class="col-span-12 w-full">
                <h2 class="
                    text-5xl-fluid
                    font-black
                    text-center
                    ">
                    Popular Mentorship Packages
                </h2>
                <div class="text-center mb-3 lg:max-w-[50%] mx-auto">
                    All of my mentorships are highly customized; these are just the things people contact me about the most.
                </div>
                <hr class="w-1/2 mx-auto border-bone-400 border-b my-1 ">
            </div>
            <MentoshipAutoCard slug="mentoring/interaction-design", class="col-span-12 2xl:col-start-1 2xl:col-span-6 max-w-4xl"/>
            <MentoshipAutoCard slug="mentoring/project-management", class="col-span-12 2xl:col-start-7 2xl:col-span-6 max-w-4xl"/>
            <MentoshipAutoCard slug="mentoring/artops",             class="col-span-12  max-w-4xl"/>
            <hr class="w-1/2 mx-auto border-bone-400 border-b my-6 col-span-12">
            <Article>
                <Content/>
            </Article>
        </div>
    </WideLeftLogo>
</Wide>
