---
import { getCollection, getEntry, getEntries } from 'astro:content';

import Wide from '@l/Wide.astro';

import MentorshipInfo from '@c/cards/MentorshipInfo.astro';
import MentorshipSideHeader from '@c/blocks/MentorshipSideHeader.astro';

import FancyHeader from '@c/elements/FancyHeader.astro';

import Article from '@c/md/Article.astro';

const entry = await getEntry('blocks', 'mentorship-info');
const { Content } = await entry.render();
---

<Wide title="Unreal Engine Mentorships | Feature Design, ArtOps, Project Management ">
    <div class="grid grid-cols-1 lg:grid-cols-[auto_3fr] items-start ">
        <MentorshipSideHeader class="lg:sticky w-fit ml-auto lg:min-w-[24rem]"/>
        <div class="
                    max-w-5xl
                    grid
                    grid-cols-1
                    gap-4
                    xl:grid-cols-2
                    justify-stretch
                    justify-items-center
                    p-4
            ">
            <MentorshipInfo title="Game Design" price="8-16 hours per month" >
                <span class="font-bold text-lg">At A Glance:</span>
                <ul class="list-outside ml-4 list-disc">
                    <li>Not for Beginners</li>
                    <li>No, Seriously, Not for Beginners</li>
                    <li>You're gonna have a bad time if you're a noob</li>
                </ul>
            </MentorshipInfo>
            <MentorshipInfo title="ArtOps" price="12-20 hours per month"  >
                <span class="font-bold text-lg">At A Glance:</span>
                <ul class="list-outside ml-4 list-disc">
                    <li>Not for Beginners</li>
                    <li>No, Seriously, Not for Beginners</li>
                    <li>You're gonna have a bad time if you're a noob</li>
                </ul>
            </MentorshipInfo>
            <MentorshipInfo title="Custom" price="Flexible" class="xl:col-span-2">
                <span class="font-bold text-lg">At A Glance:</span>
                <ul class="list-outside ml-4 list-disc">
                    <li>Whatever you need</li>
                    <li>No, Seriously, Not for Beginners</li>
                    <li>You're gonna have a bad time if you're a noob</li>
                </ul>
            </MentorshipInfo>
            <hr class="w-1/2 mx-auto border-bone-400 border-b my-6 xl:col-span-2">
            <Article>
                <Content/>
            </Article>
        </div>
    </div>
</Wide>
