---
import Wide from '@l/Wide.astro';
import WideLeftLogo from '@l/mixins/WideLeftLogo.astro';
---

<Wide title="ð“¢ð“®ð“¬ð“»ð“®ð“½ð“Ÿð“ªð“°ð“® | For Secret People ">
    <WideLeftLogo>
        <span>Hello.</span>
    </WideLeftLogo>
</Wide>
