---
interface Props {
    class?: string;
}

import { twMerge } from 'tailwind-merge';

const { class: _class = '' } = Astro.props;
---

<h2
    class={twMerge(
        `
    whitespace-nowrap
    mx-0
    mt-4 
    w-fit
    border-r-[16px]
    border-bone-400
    pr-5
    text-right
    font-black

    after:w-full
    after:h-2
    after:border-b-2 
    after:border-bone-400 
    after:block`,
        _class,
    )}
>
    <slot />
</h2>
