<div class="col-span-12 max-w-4xl w-full">
    <article
        class="prose-h1:no-wrap
        prose
        prose-article
        max-w-full
        bg-space-950
        p-2
        shadow-xl
        outline
        outline-1
        outline-space-800

        folded:prose-p:text-lg
        
        folded:prose-li:text-lg
        unfolded:p-6
        unfolded:prose-p:text-xl
        unfolded:prose-li:text-xl
        
        lg:col-span-1"
    >
        <slot />
    </article>
</div>
