<div class="col-span-12 max-w-4xl">
    <article class="
        prose
        prose-article
        prose-ol:pl-[2ch]
        prose-ul:pl-[2ch]
        prose-li:pl-0
        unfolded:prose-li:text-2xl
        folded:prose-li:text-lg

        prose-h1:text-3xl-fluid

        prose-h1:mt-4
        prose-h1:mb-9
        prose-h1:border-r-[16px]
        prose-h1:border-bone-400
        prose-h1:pr-5
        prose-h1:w-full
        prose-h1:no-wrap
        prose-h1:leading-[3rem]

        prose-h1:after:border-b-2
        prose-h1:after:border-bone-400 
        prose-h1:after:block
        prose-h1:after:h-2

        prose-h2:text-fc-[1.15rem_4.6vw_1.95rem]
        prose-h2:p-2
        prose-h2:border-b-[2px]
        prose-h2:border-space-500
        prose-h2:shadow-xl
        prose-h2:w-fit

        prose-h3:text-fc-[1.15rem_4.6vw_1.60rem]
        prose-h3:pl-2
        prose-h3:border-l-[2px]
        prose-h3:border-space-600
        prose-h3:w-fit
    
        prose-h4:text-fc-[1.15rem_4.6vw_1.55rem]
        prose-h4:pl-2
        prose-h4:border-l-[4px]
        prose-h4:border-space-700
    
        prose-h5:text-fc-[1.15rem_4.6vw_1.50rem]
        prose-h5:font-semibold
    
        prose-h6:text-fc-[1.15rem_4.6vw_1.45rem]
        prose-h6:font-semibold

        unfolded:prose-p:text-xl
        folded:prose-p:text-lg

        prose-p:mt-0
        
        max-w-full
        bg-space-950
        p-2
        unfolded:p-6
        
        shadow-xl
        outline
        outline-1
        outline-space-800
        
        lg:col-span-1">
        <slot />
    </article>
</div>