<div class="col-span-12 max-w-3xl">
    <article class="
        prose
        prose-article
        prose-ol:pl-[2ch]
        prose-ul:pl-[2ch]
        prose-li:pl-0
        prose-li:text-xl-fluid

        prose-h1:text-3xl-fluid

        prose-h1:mt-4
        prose-h1:mb-9
        prose-h1:border-r-[16px]
        prose-h1:border-bone-400
        prose-h1:pr-5
        prose-h1:w-fit
        prose-h1:no-wrap
        prose-h1:leading-[3rem]

        prose-h1:after:border-b-2
        prose-h1:after:border-bone-400 
        prose-h1:after:block
        prose-h1:after:h-2

        prose-h2:text-fc-[1.15rem_4.6vw_1.95rem]
        prose-h3:text-fc-[1.15rem_4.6vw_1.65rem]

        prose-p:text-xl-fluid
        
        max-w-full
        bg-space-950
        p-6
        
        shadow-xl
        outline
        outline-1
        outline-space-800
        
        lg:col-span-1">
        <slot />
    </article>
</div>