---
interface Props {
    kind?: 'summary' | 'warning' | 'info';
    slug?: string;
}

const { kind } = Astro.props;
---

<section class="my-4 border-l-4 border-space-600 pb-1 pl-4 shadow-md">
    <p>
        {
            kind === 'summary' ? (
                <strong class="text-fc-[1.15rem_4.6vw_1.60rem]">TL;DR:</strong>
            ) : kind === 'warning' ? (
                <strong>WARNING</strong>
            ) : kind === 'info' ? (
                // Get a proper icon for this
                <strong class="text-fc-[1.15rem_4.6vw_1.60rem]">INFO</strong>
            ) : (
                <strong class="text-fc-[1.15rem_4.6vw_1.60rem]">Err</strong>
            )
        }
    </p>
    <slot />
</section>
