---
import type { CollectionEntry } from "astro:content";
import SidebarCard from "@c/cards/SidebarCard.astro";

interface Props {
    post: CollectionEntry<'blog'>
}

const { post } = Astro.props

console.log(post)
---
<SidebarCard>
    <div class="
    text-2xl-fluid
    font-bold

    border-r-[16px]
    border-bone-400
    pr-5
    mt-0
    mb-4

    after:border-b-2
    after:border-bone-400
    after:block
    after:h-2
    ">
    {post.data.title}
</div>
{
    post.data.subtitle ?
    <div class="border-b border-space-800 pb-1 mb-2 text-xl text-space-300">{post.data.subtitle}</div>
    : <div></div>
}
<div class="flex flex-wrap">
    {
        post.data.tags.map((tag) => (
            <div class="px-2 py-1 bg-space-500 m-1 text-lg capitalize">
                {tag}
            </div>
        ))
    }
</div>
</SidebarCard>