<header class="sticky right-0 top-0 z-20 ml-auto w-fit rounded-bl-2xl bg-space-800 sm:fixed">
    <menu class="text-md flex justify-items-end gap-4 px-4 py-2 unfolded:text-xl font-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <!-- <li><a href="/mentoring">Mentoring</a></li> -->
        <li><a href="/sap">Semantically Anchored Paths</a></li>
        <!-- <li><a href="/archive">Archive</a></li> -->
        <!-- <li>Resources</li> -->
    </menu>
</header>
