---
interface Props {
    title: string;
}

import '@fontsource-variable/martian-mono';
import '@fontsource-variable/montserrat';

import Header from '@l/blocks/Header.astro';
import Footer from '@l/blocks/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-space-950 text-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="#22242f" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <slot name="head" />
    </head>
    <body class="grid min-h-[100vh] grid-rows-[auto_8fr_auto] items-end">
        <Header />
        <main class="m-auto h-full w-full max-w-[120rem] sm:pt-[44px]">
            <slot />
        </main>
        <Footer />
    </body>
</html>
