---
import { getCollection, getEntry, getEntries } from 'astro:content';

import Wide from '@l/Wide.astro';
import WideLeftLogo from '@l/blocks/WideLeftLogo.astro';
import BigHeader from '@l/blocks/BigHeader.astro';
import Article from '@c/md/Article.astro';

const schema = {
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    name: 'Jean-Silas Moor',
    alternateName: ['JS Moor'],
    url: 'https://jeansilas.com',
    hasPart: [
        {
            '@type': 'ProfilePage',
            mainEntity: {
                '@type': 'Person',
                name: 'Jean-Silas Moor',
                alternateName: 'jeansilas',
                description: 'The Art-Ops Guy',
                sameAs: ['https://mastodon.gamedev.place/@jeansilas'],
            },
        },
    ],
};

const entry = await getEntry('blocks', 'beandip');
const { Content } = await entry.render();
---

<Wide title="Jean-Silas Moor: The ArtOps Guy">
    <meta name="description" content="The ArtOps Guy" slot="head" />
    <script type="application/ld+json" slot="head" set:html={JSON.stringify(schema)} />
    <WideLeftLogo>
        <BigHeader class="ml-auto w-fit lg:sticky lg:min-w-[24rem]" />
        <div
            class="grid
            max-w-5xl
            grid-cols-1
            justify-stretch
            justify-items-center
            gap-4
            p-2
            unfolded:p-4
            xl:grid-cols-2"
        >
            <Article>
                <Content />
                <div class="ml-auto w-fit">
                    
                </div>
            </Article>
        </div>
    </WideLeftLogo>
</Wide>
